<div class="config-body">
    <h4>Configuration For Report</h4>
    <form>
    <div class="form-group">
    <label for="configuration.table_heading">
    Table Heading
    </label>
    <div class="input-group">
       <input type="text" id="table_heading"
       [(ngModel)]="configuration.table_heading"
       class="form-control"
       placeholder="Enter table heading Here"
       name="table_heading" 
       >
    </div>
    <div class="form-group">
    <label for="configuration.footer_content">
    Footer Content
    </label>
    <div class="input-group">
       <input type="text" id="footer_content"
       [(ngModel)]="configuration.footer_content"
       class="form-control"
       placeholder="Enter footer_content Here"
       name="footer_content" 
       >
    </div>
    <div class="form-group">
    <label for="configuration.limit">
    Table Rows 
    </label>
    <div class="input-group">
       <input id="limit"
       [(ngModel)]="configuration.limit"
       class="form-control"
       placeholder="Enter component width  Here"
       name="limit" 
       >
    </div>
    <div class="form-group">
       <label for="configuration.component_width">
       Report width 
       </label>
       <div class="input-group">
          <input id="component_width"
          [(ngModel)]="configuration.component_width"
          class="form-control"
          placeholder="Enter Report width Here"
          name="component_width" 
          >
       </div>
       <div class="form-group form-check">
          <input type="checkbox" name="showcheckbox" value=configuration.showcheckbox  (change)="toggleEditable($event)" 
          checked=configuration.showcheckbox [(ngModel)]="configuration.showcheckbox" class="form-check-input" id="showcheckbox">
          <label class="form-check-label" for="showcheckbox">Show Ist colomn Checkbox</label>
       </div>
       <div class="form-group form-check">
         <input type="checkbox" name="showSearchBox" value=configuration.showSearchBox  (change)="toggleSearch($event)" 
         checked=configuration.showSearchBox [(ngModel)]="configuration.showSearchBox" class="form-check-input" id="showSearchBox">
         <label class="form-check-label" for="showSearchBox">Show Search Box</label>
      </div>
       <div style='margin-left: 20px'>
         <button class="btn btn-primary" (click)="open()"> Generate Report</button>
         <button style='margin-left: 20px' class="btn btn-primary" (click)="openForm()"> Generate Form</button>
      </div>
    </div>
    